@import '../../../global/scss/config';

.static-field-container {
  position: relative;

  .static-field-label {
    @include font(14px, 700, 0.025em, $h4-header);
    margin-bottom:6px;
    line-height: 1em;
  }
}